<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header id="header-navbar" class="navbar navbar-expand-lg navbar-dark bd-navbar sticky-topnavbar navbar-expand-lg navbar-dark bd-navbar sticky-top" th:fragment="navbar">
    <nav id="navbar-home" class="container-xxl bd-gutter flex-wrap flex-lg-nowrap">
        <div class="container-icon-navbar"></div>
        <div class="container-links">
            <ul>
                <li><a th:href="@{/}" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                <li><a th:href="@{/users}" class="nav-link scrollto"><i class='bx bx-user'></i> <span>Users</span></a></li>
                <li><a th:href="@{/register}" class="nav-link scrollto"><i class='bx bxs-user-plus'></i> <span>Register</span></a></li>
                <li><a th:href="@{/login}" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Login</span></a></li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>