<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-file :: head-file}"></head>
<body>
<i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
<div th:replace="~{fragments/nav :: nav}"></div>
<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container h-100" data-aos="zoom-in" data-aos-delay="100">
    <h2 class="text-center" th:text="${message}"></h2>
    <div class="container h-75 mt-3 mb-2 d-flex justify-content-center">
      <form th:action="@{/save-transaction}" th:object="${transaction}"
            method="post" class="d-flex justify-content-center align-items-center col-5">
        <div class="card border-dark mb-3 col-12 h-100 w-100">
          <div class="card-body text-dark d-flex justify-content-center align-items-center col-12">
            <div class="d-flex justify-content-center h-100 col-12 flex-column">
              <div class="col-12">
                <label>Concepto: </label>
                <input type="hidden" th:field="*{id}" class="form-control"/>
                <input type="text" th:field="*{concept}" class="form-control" required />
              </div>
              <div class="col-12">
                <label>Monto: </label>
                <input type="text" th:field="*{amount}" class="form-control" required />
              </div>
              <div class="col-12">
                <label>Empresa: </label>
                <input type="text" th:field="*{enterprise}" class="form-control" />
              </div>
              <div class="col-12">
                <label>Usuario: </label>
                <input type="text" th:field="*{users}" class="form-control" />
              </div>
              <div class="col-12 mt-3 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary col-6">Guardar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container-buttons container h-25">
      <div class="btn-back">
        <a class="btn btn-info col-2" th:href="@{/get-transactions}"><i class='bx bx-log-out-circle mr-2'></i>Volver</a>
      </div>
    </div>
  </div>
</section>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/scripts :: scripts-contents}"></div>
<th:block layout:replace="~{fragments/scripts :: scripts}"/>
</body>
</html>