<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-file :: head-file}"></head>
<body>
<i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
<div th:replace="~{fragments/nav :: nav}"></div>
<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container h-100" data-aos="zoom-in" data-aos-delay="100">
    <h2 class="text-center">Listado de todas las empresas:</h2>
    <div class="container h-75 mt-3 mb-2">
      <form th:action="@{/save-enterprise}" th:object="${user}"
            method="post">
        <div class="card border-dark mb-3 col-8">
          <div class="card-body text-dark">
            <div class="row g-3 needs-validation">
              <div class="col-6">
                <label>E-mail: </label>
                <input type="email" th:field="*{email}" class="form-control" required />
              </div>
              <div class="col-6">
                <label>Password: </label>
                <input type="password" th:field="*{password}" class="form-control" required />
              </div>
              <div class="col-6">
                <label>First Name: </label>
                <input type="text" th:field="*{firstName}" class="form-control" required />
              </div>
              <div class="col-6">
                <label>Last Name: </label>
                <input type="text" th:field="*{lastName}" class="form-control" required />
              </div>

              <div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container-buttons container h-25">
      <div class="btn-create">
        <button type="button" class="btn btn-info" th:action="@{/get-enterprises}"><i class='bx bx-log-out-circle mr-2'></i>Volver</button>
      </div>
    </div>
  </div>
</section>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/scripts :: scripts-contents}"></div>
<th:block layout:replace="~{fragments/scripts :: scripts}"/>
</body>
</html>