<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-file :: head-file}"></head>
<body>
<i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
<div th:replace="~{fragments/nav :: nav}"></div>
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container h-100" data-aos="zoom-in" data-aos-delay="100">
        <h2 class="text-center">Listado de todas las empresas:</h2>
        <div class="container-buttons container h-5">
            <div class="btn-create">
                <a class="btn btn-info" th:href="@{/create-enterprise}"><i class='bx bx-store-alt mr-2'></i>Crear Empresas</a>
            </div>
        </div>
        <div class="container h-75 mt-3 mb-2">
            <table id="example" class="table table-striped" style="width:100%">
                <thead class="table-primary">
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">NIT</th>
                    <th class="text-center">Dirección</th>
                    <th class="text-center">Teléfono</th>
                    <th class="text-center">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="enterprise: ${enterprises}">
                    <td class="text-center" th:text="${enterprise.id}">ID Empresa</td>
                    <td class="text-center" th:text="${enterprise.name}">Nombre</td>
                    <td class="text-center" th:text="${enterprise.document}">NIT</td>
                    <td class="text-center" th:text="${enterprise.address}">Dirección</td>
                    <td class="text-center" th:text="${enterprise.phone}">Teléfono</td>
                    <td class="text-center">
                        <a th:href="@{/update-enterprise/{id}(id=${enterprise.id})}" class="btn btn-info"><i
                                class='bx bxs-edit-alt fs-5'></i></a>
                        <a th:onclick="deleteItem([[${enterprise.id}]], '/delete-enterprise/', '/get-enterprises')" class="btn btn-danger ml-2 mr-2"><i
                                class='bx bxs-trash fs-5'></i></a>
                        <a th:href="@{/see-employees/{id}(id=${enterprise.id}, name=${enterprise.name})}" class="btn btn-info">
                            <i class='bx bx-user fs-5'></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/scripts :: scripts-contents}"></div>
<th:block layout:replace="~{fragments/scripts :: scripts}"/>
</body>
</html>