<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-file :: head-file}"></head>
<body>
<i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
<div th:replace="~{fragments/nav :: nav}"></div>
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container h-100" data-aos="zoom-in" data-aos-delay="100">
        <h2 class="text-center">Listado de todas las empresas:</h2>
        <div class="container-buttons container h-5">
            <div class="btn-create">
                <a class="btn btn-info" th:href="@{/create-enterprise}"><i class='bx bx-store-alt mr-2'></i>Crear Empresas</a>
            </div>
        </div>
        <div class="container h-75 mt-3 mb-2">
            <table id="example" class="table table-striped" style="width:100%">
                <thead class="table-primary">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>NIT</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="enterprise: ${enterprises}">
                    <td th:text="${enterprise.id}">ID Empresa</td>
                    <td th:text="${enterprise.name}">Nombre</td>
                    <td th:text="${enterprise.document}">NIT</td>
                    <td th:text="${enterprise.address}">Dirección</td>
                    <td th:text="${enterprise.phone}">Teléfono</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/scripts :: scripts-contents}"></div>
<th:block layout:replace="~{fragments/scripts :: scripts}"/>
</body>
</html>