<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-file :: head-file}"></head>
<body>
<i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
<div th:replace="~{fragments/nav :: nav}"></div>
<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container h-100" data-aos="zoom-in" data-aos-delay="100">
    <h2 class="text-center">Listado de todas las transacciones:</h2>
    <div class="container-buttons container h-5">
      <div class="btn-create">
        <a class="btn btn-info" th:href="@{/create-transaction}"><i class='bx bx-store-alt mr-2'></i>Generar transacción</a>
      </div>
    </div>
    <div class="container h-75 mt-3 mb-2">
      <table id="example" class="table table-striped" style="width:100%">
        <thead class="table-primary">
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">Concepto</th>
          <th class="text-center">Monto</th>
          <th class="text-center">Empresa</th>
          <th class="text-center">Usuario</th>
          <th class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction: ${transactions}">
          <td class="text-center" th:text="${transaction.id}">Id transacción</td>
          <td class="text-center" th:text="${transaction.concept}">Concepto</td>
          <td class="text-center" th:text="${transaction.amount}">Monto</td>
          <td class="text-center" th:text="${transaction.enterprise}">Empresa</td>
          <td class="text-center" th:text="${transaction.users}">Usuario</td>
          <td class="text-center">
            <a th:href="@{/update-transaction/{id}(id=${transaction.id})}" class="btn btn-info"><i
                    class='bx bxs-edit-alt fs-5'></i></a>
            <a th:onclick="deleteItem([[${transaction.id}]], '/delete-transaction/', '/get-transaction')" class="btn btn-danger"><i
                    class='bx bxs-trash fs-5'></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/scripts :: scripts-contents}"></div>
<th:block layout:replace="~{fragments/scripts :: scripts}"/>
</body>
</html>