<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="container container-general">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="container-content">
      <div th:replace="~{fragments/navbar :: navbar}"></div>
      <div class="container-dynamic">
          <p>putos todos</p>
      </div>
      <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
  </div>
</body>
</html>