<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-file :: head-file}"></head>
<body>
<i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
<div th:replace="~{fragments/nav :: nav}"></div>
<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <h1 class="text-center">Bienvenido a la pagina de incio</h1>
    <div class="container-form d-flex justify-content-center text-center">

  </div>
</section>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/scripts :: scripts-contents}"></div>
<th:block layout:replace="~{fragments/scripts :: scripts}"/>
</body>
</html>
</html>