<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-file :: head-file}"></head>
<body>

  <div class="container-general">
    <div class="container-navbar">
      <header th:replace="~{fragments/navbar :: navbar}"></header>
    </div>
    <div class="container-elements">
      <div class="container-aside">
        <aside th:replace="~{fragments/aside :: aside}"></aside>
      </div>
      <div class="container-content-views"></div>
    </div>
    <div class="container-footer">
      <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>
  </div>
  <div th:replace="~{fragments/scripts :: scripts-contents}"></div>
  <th:block layout:replace="~{fragments/scripts :: scripts}"/>

</body>
</html>