<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-file :: head-file}"></head>
<body>
<i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
<div th:replace="~{fragments/nav :: nav}"></div>
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container h-100" data-aos="zoom-in" data-aos-delay="100">
        <h2 class="text-center" th:text="${message}"></h2>
        <div class="container-buttons container h-5">
            <div class="btn-create">
                <a class="btn btn-info" th:href="@{/get-enterprises}"><i class='bx bx-log-out-circle mr-2'></i>Volver a empresas</a>
            </div>
        </div>
        <div class="container h-75 mt-3 mb-2">
            <table id="example" class="table table-striped" style="width:100%">
                <thead class="table-primary">
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Nombres</th>
                    <th class="text-center">Documento</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Rol</th>
                    <th class="text-center">Transacciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee: ${employees}">
                    <td class="text-center" th:text="${employee.id}">Id</td>
                    <td class="text-center" th:text="${employee.firstName} + ' ' + ${employee.lastName}">Nombres</td>
                    <td class="text-center" th:text="${employee.document}">Documento</td>
                    <td class="text-center" th:text="${employee.email}">Email</td>
                    <td class="text-center" th:text="${employee.role}">Rol</td>
                    <td class="text-center">
                        <a th:href="@{/see-transactions/{id}(id=${employee.id})}" class="btn btn-info">
                            <i class='bx bx-money'></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/scripts :: scripts-contents}"></div>
<th:block layout:replace="~{fragments/scripts :: scripts}"/>
</body>
</html>