<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-file :: head-file}"></head>
<body>
<i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
<header id="header" class="d-flex flex-column justify-content-center">
	<nav id="navbar" class="navbar nav-menu">
		<form th:action="@{/logout}" method="POST">
			<ul>
				<li><a class="nav-link scrollto"><i class="bx bx-file-blank"></i> <button type="submit">Logout</button></a></li>
			</ul>
		</form>
	</nav>

</header>
<section id="hero" class="d-flex flex-column justify-content-center">
	<div class="container" data-aos="zoom-in" data-aos-delay="100">
		<form th:action="@{/logout}" method="post">
			<p>
				Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
			</p>
		</form>
		<table id="example" class="table table-striped" style="width:100%">
			<thead class="table-primary">
			<tr>
				<th>User ID</th>
				<th>E-mail</th>
				<th>First Name</th>
				<th>Last Name</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="user: ${listUsers}">
				<td th:text="${user.id}">User ID</td>
				<td th:text="${user.email}">E-mail</td>
				<td th:text="${user.firstName}">First Name</td>
				<td th:text="${user.lastName}">Last Name</td>
			</tr>
			</tbody>
		</table>
	</div>
</section>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/scripts :: scripts-contents}"></div>
<th:block layout:replace="~{fragments/scripts :: scripts}"/>
</body>
</html>